<% unless idea.errors.empty? -%>
	<div class="error" style="color: red;"><%= error_messages_for 'idea' %></div>
<% end -%>

<% form_for idea do |f| -%>
	<%= f.hidden_field 'user_id' %>
	<p><%= label_tag 'title' %></p>
	<p><%= f.text_field 'title' %></p>
	<p><%= label_tag 'description', 'Short Description*' %></p>
	<p><%= f.text_area 'description', :size => '50x10' %></p>
	<p class="sm-text">* Just a short description for now. Don't worry, we'll add notes to this Idea in a jiffy.</p>
	<p><%= submit_tag submit_text %> or <%= link_to 'Cancel', cancel_link_path %></p>
<% end -%>